# Игнорировать папку с кэшом Python
__pycache__/

# Игнорировать виртуальные окружения
venv/

# Игнорировать файлы конфигурации среды
*.env

# Игнорировать файлы журналов
*.log

# Игнорировать файлы и папки, специфичные для VS Code
.vscode/
.settings/

# Игнорировать временные файлы
*~
*.tmp

# добавил я
todo.txt
todo.py
template.txt
.idea
